<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>usable - options</title>
  <link rel="stylesheet" href="options.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>

<body>
  <div id="app"></div>
  <script src="options.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
  </script>
</body>

</html>